[submodule "submodule/googletest"]
	path = submodule/googletest
	url = https://github.com/google/googletest.git
[submodule "submodule/benchmark"]
	path = submodule/benchmark
	url = https://github.com/google/benchmark.git
