# c/cpp
*.o
*.a

# gnu globals
/GPATH
/GRTAGS
/GTAGS

#
/build
/build_gprof
/build_release
/build_valgrind
/docker/docker_profile/travis_cmake_setup.sh
/docker/docker_valgrind/travis_cmake_setup.sh
/docs/xml
/docs/build/.doctrees
/docs/build/.buildinfo
/docs/build/objects.inv
/docs/*.db
