# c/cpp
*.o
*.a

# gnu globals
/GPATH
/GRTAGS
/GTAGS

#
/build
/build_docker
/docker/docker_valgrind/travis_cmake_setup.sh
/docs/xml
/docs/build/.doctrees
/docs/build/.buildinfo
/docs/build/objects.inv
/docs/*.db
